


.loading
{
   background-color:#ffffff;
   height:8px;
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   width:220px;
    justify-content:left;
	align-items:center;
	margin-top:5px;
	border-radius:50%;
}
.loading div
{
    background-color:#800000;
	width:50px;
	 height:4px;
	 margin-left:0px;
     border-radius:50%;   
}

.bg-maroon
{
    background-color: #800000;
}


.bg-darkred
{
    background-color: #8B0000;
}


.line ul
{
    list-style-type: none;
}
.line ul li a
{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-family: verdana;
}

.line ul li
{
    text-align: justify;
    line-height: 35px;
}

#date
{
   
}

#time
{
    
}

.bg-dark-orange
{
   background-color: #ff8c00;  
}

.bg-chocolate
{
  background-color: #D2691e;  
}

.txt-maroon
{
    color:maroon;
}

row:hover
{
    opacity: 1.0;
}